<h2>Content form</h2>

<form action="/content/save" method="post">
  <% if @content %>
    <input type="hidden" name="content_id" value="<%= @content.id %>">
  <% end %>
  Title: <input type="text" name="title" value="<%= @content && @content.title %>" size="50"><br>
  Url:   <input type="text" name="url" size="50" value="<%= @content && @content.url %>"><br>
  Transcript:
  <br>
  <textarea cols="80" rows="20" name="transcript"><%= @content && @content.transcript %></textarea>
  <br>

  <input type="submit" value="Save">
</form>
